---
const API_URL = import.meta.env.API_URL;
const INFO = "INFO"
const response = await fetch(`${API_URL}/${INFO}`).then((res) => res.json());

const { nombre, descripcion,direccion,horario,delivery,estado } = response[0];

---

<section>
  <div class="mb-2">
    <img
      src="images/cachapa-cover.jpg"
      alt="logo stefy food"
      class="object-cover h-28 md:h-48 w-full rounded-b-lg"
    />
  </div>
  <div
    class="flex justify-center md:justify-start md:gap-x-20 items-center gap-2"
  >
    <img
      src="images/logo_stefy_food.png"
      alt="logo stefy food"
      class="w-20 h-20 md:w-40 md:h-40 rounded-full shadow-lg"
    />
    <div>
      <div class="flex justify-center items-center gap-2 md:gap-8">
        <h1 class="text-primary font-extrabold text-4xl md:text-7xl my-2 capitalize">
          {nombre}
        </h1>
        <span class={`px-2 py-1 rounded-full text-white font-bold text-xs md:text-sm  
            ${estado === 'Abierto' ? 'bg-green-500 hover:bg-green-600' : 'bg-red-500 hover:bg-red-600'}
            transition duration-300 shadow-md`}>
            {estado}
          </span>
      </div>
      <h4 class="text-primary text-sm md:text-base">
        {descripcion} <br />
        <span class="text-red-500">➤</span> {direccion} <br
        />
        <span class="text-red-500">🛵</span> {delivery} <br />
        <span class="text-red-500">🕛</span> {horario}
      </h4>
    </div>
  </div>
</section>
